main{
    margin-left: auto;
    margin-right: auto;
}

.container {
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.container2 {
    background-color: rgb(233, 233, 233);
    margin-left: auto;
    margin-right: auto;
    padding: 100px;
    text-align: center;
}

.description {
    margin: 50px 50px 0px 150px;
    display: flex;

}

.description_txt {
    width: 400px;
    margin-top: 80px;
    margin-left: 30px;
}

.h_txt {
    color: gray;
}

.description h2 {
    width: 340px;
    font-size: 26px;
}

.description img {
    width: 500px;
}

.companii {
    display: flex;
    justify-content: space-around;
}

.companii img {
    width: 120px;
    margin-top: 70px;
}

.target{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.target_mini{
    width: 340px;
    height: 400px;
    margin:20px;
    padding: 20px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: white;
    
}
